---
import PageLayout from "@layouts/PageLayout.astro";
import Container from "@components/Container.astro";
import ArrowCard from "@components/ArrowCard.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.date.getTime() - a.data.date.getTime()
);
---

<PageLayout title="Blog" description="All blog posts">
  <Container>
    <div class="animate space-y-4">
      <h1 class="font-semibold text-black dark:text-white">Blog</h1>
      <div class="space-y-2">
        {posts.map((post) => <ArrowCard entry={post} />)}
      </div>
    </div>
  </Container>
</PageLayout>
