---
import PageLayout from "@layouts/PageLayout.astro";
import Container from "@components/Container.astro";
import { BLOG } from "@consts";

---

<PageLayout title={BLOG.TITLE} description={BLOG.DESCRIPTION}>
	<Container>
		<h1>BLOG</h1>
	</Container>
</PageLayout>