---
import PageLayout from "@layouts/PageLayout.astro";
import Container from "@components/Container.astro";
import { ABOUT } from "@consts";

---

<PageLayout title={ABOUT.TITLE} description={ABOUT.DESCRIPTION}>
	<Container>
		<h1>ABOUT</h1>
	</Container>
</PageLayout>
